<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SurvAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB6777F61E5114E300736B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB67780D1E5114E300736B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6778181E5114E400736B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
